* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 20px 10px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 0 5px;
}

nav li a {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: black;
  width: 30px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

section.shoes {
  height: 100vh;
  position: relative;
}

#shoe-1 {
  background-color: red;
}

#shoe-2 {
  background-color: green;
}

#shoe-3 {
  background-color: yellow;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: yellow;
  font-size: 30px;
}

.centered > img {
  max-height: 65vh;
}

#shoe-3 h2 {
  color: green;
}
